@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333333;
}

header {
  background-color: #ff69b4;
  color: #ffffff;
}

footer {
  background-color: #98ff98;
  color: #ffffff;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff69b4;
}

section {
  margin-bottom: 1rem;
}

.bg-pink {
  background-color: #ff69b4;
}

.bg-mint {
  background-color: #98ff98;
}

.bg-yellow {
  background-color: #ffff99;
}

.bg-lightPurple {
  background-color: #e6e6fa;
}

.text-white {
  color: #ffffff;
}

.text-mint {
  color: #98ff98;
}

.text-pink {
  color: #ff69b4;
}

.text-lightPurple {
  color: #e6e6fa;
}
