@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --newjeans-blue: #a0e7e5;
  --newjeans-pink: #ffa8b6;
  --newjeans-yellow: #ffeb99;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.retro-shadow {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.newjeans-gradient {
  background: linear-gradient(
    45deg,
    var(--newjeans-blue),
    var(--newjeans-pink),
    var(--newjeans-yellow)
  );
}
